.accept-heat[data-level="1"] {
  background-color: #9be9a8;
}

.accept-heat[data-level="2"] {
  background-color: #40c463;
}

.accept-heat[data-level="3"] {
  background-color: #30a14e;
}

.accept-heat[data-level="4"] {
  background-color: #216e39;
}

.rejected-heat[data-level="1"] {
  background-color: #ff8c8c;
}

.rejected-heat[data-level="2"] {
  background-color: #ff4d4f;
}

.rejected-heat[data-level="3"] {
  background-color: #ff1a1a;
}

.rejected-heat[data-level="4"] {
  background-color: #d40d0d;
}
