<!doctype html>
<html>

<head>
  <meta charSet="utf-8" />
  <title>Board - XCPCIO</title>
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <center>
    <div id="root"></div>
  </center>
</body>

</html>
