<!doctype html>
<html>

<head>
  <meta charSet="utf-8" />
  <title>Board - XCPCIO</title>
  <style>
    body {
      font-family: 'Georgia', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    }
  </style>
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>  

  <center>
    <div id="root"></div>
  </center>
</body>

</html>