<!doctype html>
<html>

<head>
  <meta charSet="utf-8" />
  <style>
    body {
      font-family: 'Georgia', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    }
  </style>

<!-- <link rel="stylesheet" href="/css/amazeui.css"> -->

<!-- <script src="https://cdn.jsdelivr.net/gh/WI-KI/CDN@1.0.11/jquery-3.5.1.min.js"></script> -->

<!-- <script src="https://cdn.jsdelivr.net/gh/amazeui/amazeui@2.7.2/dist/js/amazeui.min.js"></script> -->
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>  
  <!-- <div style="margin-left: 5px;">
    <select class="selectpicker" multiple data-live-search="true" data-selected-text-format="count">
      <option>Mustard</option>
      <option>Ketchup</option>
      <option>Relish</option>
    </select>
  </div> -->

  <!-- <div style="margin-left: 5px;">

      <select class="am-round" id="language" placeholder="院校筛选" name="language" multiple data-am-selected="{searchBox: 1, maxHeight: 400}">
        <option selected value=''></option>
        <option value='-1'>All</option>
        <option value=0>杭州师范大学</option>
        <option value=1>C++(g++)</option>
        <option value=13>C(clang)</option>
        <option value=14>C++(clang++)</option>
        <option value=2>Pascal(fpc)</option>
        <option value=3>Java(javac)</option>
        <option value=4>Ruby</option>
        <option value=5>Bash</option>
        <option value=6>Python2</option>
        <option value=18>Python3</option>
        <option value=7>PHP</option>
        <option value=8>Perl</option>
        <option value=9>C#(gmcs)</option>
        <option value=12>Scheme(guile)</option>
        <option value=15>Lua(luac)</option>
        <option value=17>Go</option>
      </select>
      <!-- <span class="am-form-caret"></span> -->

      <!-- <select data-am-selected placeholder="选一个撒" id="demo-default-selected">
        <option selected value=""></option>
        <option label="01 - Proprietary" value="01">01 - Proprietary</option>
        <option label="02 - ISBN-10" value="02">02 - ISBN-10</option>
        <option label="03 - GTIN-13" value="03">03 - GTIN-13</option>
        <option label="04 - UPC" value="04">04 - UPC</option>
        <option label="05 - ISMN-10" value="05">05 - ISMN-10</option>
      </select>

      <select multiple data-am-selected minchecked="2" maxchecked="3" id="demo-maxchecked">
        <option value="a">Apple</option>
        <option value="b">Banana</option>
        <option value="o">Orange</option>
        <option value="m">Mango</option>
      </select>
      <script>
      $('#demo-maxchecked').on('checkedOverflow.selected.amui', function() {
        alert('最多选择' + this.getAttribute('maxchecked') + '项');
      });
      </script> -->

<!-- <select multiple data-am-selected>
  <optgroup label="水果">
    <option value="a">Apple</option>
    <option value="b">Banana</option>
    <option value="o">Orange</option>
    <option value="m">Mango</option>
  </optgroup>
  <optgroup label="装备">
    <option value="phone">iPhone</option>
    <option value="im">iMac</option>
    <option value="mbp">Macbook Pro</option>
  </optgroup>
</select> -->

  <!-- </div>  -->

  <center>
    <div id="root"></div>
  </center>
</body>

<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css"> -->

<!-- <script src="/bootstrap.min.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script> -->
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/js/bootstrap-select.min.js"></script> -->

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/js/i18n/defaults-zh_CN.min.js"></script> -->
<!-- <script src="<%= context.config.publicPath %>bootstrap-select.min.js"></script> -->
<!-- <script src="<%= context.config.publicPath %>defaults-zh_CN.min.js"></script> -->

</html>